{erl_opts, []}.

{deps, [
  {telemetry, "1.0.0"}
]}.

{project_plugins, [
  {covertool, "2.0.4"}
]}.

{covertool, [
  {coverdata_files, ["ct.coverdata"]}
]}.

{profiles, [
  {test, [
    {erl_opts, []},
    {cover_enabled, true},
    {cover_export_enabled, true},
    {cover_opts, [verbose]},
    {deps, [{proper, "1.4.0"}]}
   ]},
  {prod, [
   {erl_opts, [inline_list_funcs, deterministic]}
   ]},
  {docs, [
    {edoc_opts, [
      {private, true},
      {preprocess, true},
      {doclet, edoc_doclet_chunks},
      {layout, edoc_layout_chunks},
      {dir, "_build/default/lib/segmented_cache/doc"}
    ]}
  ]}
]}.

%% take out warnings for unused exported functions
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
