{erl_opts, []}.

{deps, [
  {telemetry, "1.2.1"}
]}.

{project_plugins, [
  {covertool, "2.0.4"}
]}.

{covertool, [
  {coverdata_files, ["ct.coverdata"]}
]}.

{profiles, [
  {test, [
    {erl_opts, []},
    {cover_enabled, true},
    {cover_export_enabled, true},
    {cover_opts, [verbose]},
    {deps, [{proper, "1.4.0"}]}
   ]},
  {prod, [
   {erl_opts, [inline_list_funcs, deterministic]}
   ]}
]}.

%% take out warnings for unused exported functions
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
     {source_url, <<"https://github.com/esl/segmented_cache">>},
     {main, <<"readme">>},
     {extras, [{'README.md', #{title => <<"Overview">>}},
               {'design_notes.md', #{title => <<"Design Notes">>}},
               {'LICENSE', #{title => <<"License">>}}
              ]}
]}.
